<a href="https://colab.research.google.com/github/SergeevaAI/colab/blob/main/17_09_%D0%BF%D0%B0%D1%80%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class T1:
  n=10
  def total(self, N):
    self.total = int(self.n)+int(N)
class T2:
  def total(self, s):
    self.total = len(str(s))
t1 = T1()
t2 = T2()
t1.total(45)
t2.total(45)
print(t1.total)
print(t2.total)

55
2

In [ ]:
class One:
 def __init__(self, N):
   self.N=N*N
 class Two:
   def __init__(self, N):
     self.N=self.N*2
a = int(input("Введите число: "))
if -100<=a<=100:
  obj=One(a) 
else:
  obj=Two(a)
print(obj.N)

Введите число: 12
144

In [20]:
class Base:
  def __init__(self, n):
    self.numb = n
  def out(self):  
    print(self.numb)
class One(Base):
  def multi(self, m):
    self.numb*=m
class Two(Base):
  def inlist(self):  
    self.inlist = list(str(self.numb))
  def out(self):
    i = 0
    while i < len(self.inlist):
          print(self.inlist[i])
          i += 1
obj1 = One(45)
obj2 = Two('abc')
obj1.multi(2)
obj1.out()
obj2.inlist()
obj2.out()   
t=int(input("Введите число: "))
obj= Base(t)
print(obj.out())
obj=One(t)
print(obj.multi(t))
obj=Two(t)
print(obj.inlist())

90
a
b
c
Введите число: 12
12
None
None
None